
<div id="body">
<p>
  קצת עלינו
  ברוכים הבאים למרכז האירועים והקונגרסים Avenue.
  במבנה אקלקטי והייחודי ביותר בישראל,
   תמצאו כל מה שצריך כדי להגשים כל חלום:
    מיקום מרכזי ונגיש במרכז הארץ,
     חנייה בשפע, גנים מטופחים ויפהפיים,
      אולמות אירועים מעוצבים וקלאסיים,
       מטבח שף מקומי מעולה וטכנולוגיית אודיו ויז’ואל מהמתקדמות בעולם
        – ההופכת כל אירוע לחוויה קסומה בעלת אופי ייחודי
  
   אווניו הוקם בשנת 2006, והינו עסק משפחתי המשלב שני דורות עם ותק וניסיון של למעלה מ-20 שנה
  
   אנו מנהלים ומפעילים את המקום מכל הלב, מעניקים שירות ויחס אישי ואכפתי וזמינים עבורכם לכל שאלה או התייעצות
  
  הצוות עתיר הניסיון שלנו ילווה אתכם עם רעיונות יצירתיים, טיפים חשובים ופתרונות מהירים כדי שהאירוע שלכם יהיה מושלם, בדיוק כפי שתכננתם
  
  האירועים ב- Avenue נערכים בשני אולמות נפרדים
  
  Avenue Hall: היכל מלכותי ומפואר עם כניסה מרשימה וגינה רחבת ידיים, המעניק שפע של אפשרויות אירוח בכל סגנון, לאירועים של עד 1,200 מוזמנים
  
  Avenue L: אולם אלגנטי שחידש את פניו לאחרונה בעיצוב קלאסי ומעודן לאירועי בוטיק קסומים של עד 450 מוזמנים
  
</p>
</div>
